<p id="notice"><%= notice %></p>

<p>
  <strong>Point:</strong>
  <%= @article.point_id %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @article.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
