<p id="notice"><%= notice %></p>

<p>
  <strong>Travel:</strong>
  <%= @day.travel_id %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @day.serial %>
</p>

<p>
  <strong>Name:</strong>
  <%= @day.name %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
