<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @travel_point.day_id %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @travel_point.serial %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @travel_point.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @travel_point.latitude %>
</p>

<p>
  <strong>Name:</strong>
  <%= @travel_point.name %>
</p>

<%= link_to 'Edit', edit_travel_point_path(@travel_point) %> |
<%= link_to 'Back', travel_points_path %>
