<h1>Listing pictures</h1>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Pic</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.title %></td>
        <td><%= image_tag picture.file.url(:thumb) %></td>
        <td><%= link_to 'Edit', edit_article_picture_path(@article, picture) %></td>
        <td><%= link_to 'Destroy', article_picture_path(@article, picture), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_article_picture_path(@article) %>
